<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/races</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.connection.pool_size">3</property>
    <property name="hibernate.show_sql">true</property>
    
    <!-- Mapped Classes -->
    <mapping class="com.carreras.dominio.modelo.Auto"/>
    <mapping class="com.carreras.dominio.modelo.Corredor"/>
    <mapping class="com.carreras.dominio.modelo.Torneo"/>
    <mapping class="com.carreras.dominio.modelo.Competencia"/>
    <mapping class="com.carreras.dominio.modelo.Inscripto"/>
    <mapping class="com.carreras.dominio.modelo.Categoria"/>
    <mapping class="com.carreras.dominio.modelo.InscriptoCompetencia"/>
    <mapping class="com.carreras.dominio.modelo.Carril"/>
    <mapping class="com.carreras.dominio.modelo.Tiempo"/>
    <mapping class="com.carreras.dominio.modelo.TipoTiempo"/>
    <mapping class="com.carreras.dominio.modelo.Carrera"/>
    
  </session-factory>
</hibernate-configuration>
